.container {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content:space-between;
align-content: center;
align-items: baseline;
margin: 50px 20px 20px 20px;

}


.object {
  order: 1;
  flex-grow: 1;
  align-self: flex-start;
  border-style: dotted;
  border-color:#0000CD;
  border-width: thick;
  flex: 1;
  margin: 50px 20px 20px 20px;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  
}

.description {
  order: 2;
  flex-grow: 2;
  align-self: flex-end;
  flex: 5;
  flex-shrink: 1;
  margin: 50px 45px 60px 20px;
  border-style: dotted;
  border-color: #66CDAA;
  border-width: thick;
  justify-content: center;
  padding: 10px;
  font-size: 20px;

}

.background-top {
  background-image: URL('https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F38670528%2F108919755319%2F1%2Foriginal.jpg?auto=format%2Ccompress&q=75&sharp=10&s=af6bd439922cbde45d119e1ca00cc446');
  height: 300px;
  background-position: top;
  display: flex;
/* flex-direction: row;
flex-wrap: wrap; */
flex-flow: column wrap;
justify-content:flex-start;
align-content: center;
align-items: baseline;
margin: 50px 20px 20px 20px;
}

.link-bar {
  background-color: black;
  align-self: flex-end;
  margin: 200px 45px 10px 20px;
  justify-content:flex-end;
  display: flex;
  border: 3px solid black;
  padding:8px;
  width: 90%;
}

.message {
  color: #6A5ACD;
  margin: 20px 200px 20px 200px;
  text-align: center;

}


.container_category {
   
  color: black;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 8px;
  width: 90%;
  align-items:center;
  align-content: space-between;
  margin: 20px 20px 20px 20px;
  text-align: center;
 
}

.category_one {
  order: 1;
  flex-grow: 1;
  border-style: dotted;
  border-color:#0000CD;
  border-width: thick;
  flex: 1;
  margin: 50px 20px 20px 20px;
  padding: 10px;

}

.category_two {
  order: 2;
  flex-grow: 1;
  border-style: dotted;
  border-color: #90EE90;
  border-width: thick;
  flex: 1;
  margin: 50px 20px 20px 20px;
  padding: 10px;

}


.category_three {
  order: 3;
  flex-grow: 1;
  border-style: dotted;
  border-color:#1E90FF;
  border-width: thick;
  flex: 1;
  margin: 50px 20px 20px 20px;
  padding: 10px;

}


.category_four {
  order: 4;
  flex-grow: 1;
  border-style: dotted;
  border-color:#FF1493;
  border-width: thick;
  flex: 1;
  margin: 50px 20px 20px 20px;
  padding: 10px;

}

.category_five {
  order: 5;
  flex-grow: 1;
  border-style: dotted;
  border-color:#808080;
  border-width: thick;
  flex: 1;
  margin: 50px 20px 20px 20px;
  padding: 10px;

}

.category_six {
  order: 6;
  flex-grow: 1;
  border-style: dotted;
  border-color:#FFD700;
  border-width: thick;
  flex: 1;
  margin: 50px 20px 20px 20px;
  padding: 10px;

}


.category_seven {
  order: 7;
  flex-grow: 1;
  border-style: dotted;
  border-color:#20B2AA;
  border-width: thick;
  flex: 1;
  margin: 50px 20px 20px 20px;
  padding: 10px;

}


.category_eight {
  order: 8;
  flex-grow: 1;
  border-style: dotted;
  border-color:#C71585;
  border-width: thick;
  flex: 1;
  margin: 50px 20px 20px 20px;
  padding: 10px;

}


.category_nine {
  order: 9;
  flex-grow: 1;
  border-style: dotted;
  border-color: #FF4500;
  border-width: thick;
  flex: 1;
  margin: 50px 20px 20px 20px;
  padding: 10px;

}

.category_ten {
  order: 10;
  flex-grow: 1;
  border-style: dotted;
  border-color:#BC8F8F;
  border-width: thick;
  flex: 1;
  margin: 50px 20px 20px 20px;
  padding: 10px;

}


.category_eleven {
  order: 11;
  flex-grow: 1;
  border-style: dotted;
  border-color:#4169E1;
  border-width: thick;
  flex: 1;
  margin: 50px 20px 20px 20px;
  padding: 10px;

}

.category_twelve {
  order: 12;
  border-style: dotted;
  border-color:#FFFF00;
  border-width: thick;
  flex: 1;
  margin: 50px 20px 20px 20px;
  padding: 10px;

}

.category_thirteen {
  order: 13;
  flex-grow: 1;
  border-style: dotted;
  border-color:#40E0D0;
  border-width: thick;
  flex: 1;
  margin: 50px 20px 20px 20px;
  padding: 10px;

}

.category_fourteen {
  order: 14;
  flex-grow: 1;
  border-style: dotted;
  border-color: #FF6347;
  border-width: thick;
  flex: 1;
  margin: 50px 20px 20px 20px;
  padding: 10px;

}
.category_fifteen {
  order: 15;
  flex-grow: 1;
  border-style: dotted;
  border-color:#0000CD;
  border-width: thick;
  flex: 1;
  margin: 50px 20px 20px 20px;
  padding: 10px;

}

.category_sixteen {
  order: 16;
  flex-grow: 1;
  border-style: dotted;
  border-color:#0000CD;
  border-width: thick;
  flex: 1;
  margin: 50px 20px 20px 20px;
  padding: 10px;

}

.category_seventeen {
  order: 17;
  flex-grow: 1;
  border-style: dotted;
  border-color:#800080;
  border-width: thick;
  flex: 1;
  margin: 50px 20px 20px 20px;
  padding: 10px;

}


.category_eighteen {
  order: 18;
  flex-grow: 1;
  border-style: dotted;
  border-color: #66CDAA;
  border-width: thick;
  flex: 1;
  margin: 50px 20px 20px 20px;
  padding: 10px;

}

.footer {
  font-size: 10px;
  color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: flex-end;
  order: 20;
  justify-content: flex-end;
  margin: 0px 60px 0px 0px;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }

 

  .searchInputs {
    margin-top: 105px;
    display: flex;
  }
  
  .search input {
    background-color: white;
    border: 0;
    border-radius: 2px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 18px;
    padding: 15px;
    height: 30px;
    width: 300px;
  }
  
  .searchIcon {
    height: 60px;
    width: 50px;
    background-color: white;
    display: grid;
    place-items: center;
  }
  
  input:focus {
    outline: none;
  }
  .searchIcon svg {
    font-size: 35px;
  }
  
  .dataResult {
    margin-top: 5px;
    width: 300px;
    height: 200px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
  }
  
  .dataResult::-webkit-scrollbar {
    display: none;
  }
  
  .dataResult .dataItem {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    color: black;
  }
  
  .dataItem p {
    margin-left: 10px;
  }
  a {
    text-decoration: none;
  }
  
  a:hover {
    background-color: #E0FFFF;
  }
  
  #clearBtn {
    cursor: pointer;
  } 



  @media only screen and (max-width: 600px) {
    body {
      background-color: #87CEFA;
    }
  }

  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
  }
  
 



