.container {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content:space-between;
align-content: center;
align-items: baseline;
margin: 50px 20px 20px 20px;

}


.object {
  order: 1;
  flex-grow: 1;
  align-self: flex-start;
  border-style: dotted;
  border-color:#0000CD;
  border-width: thick;
  flex: 1;
  margin: 50px 20px 20px 20px;
  padding: 10px;
  
}

.description {
  order: 2;
  flex-grow: 2;
  align-self: flex-end;
  flex: 5;
  flex-shrink: 1;
  margin: 50px 45px 60px 20px;
  border-style: dotted;
  border-color: #66CDAA;
  border-width: thick;
  justify-content: center;
  padding: 10px;

}

.background-top {
  background-image: URL('https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F38670528%2F108919755319%2F1%2Foriginal.jpg?auto=format%2Ccompress&q=75&sharp=10&s=af6bd439922cbde45d119e1ca00cc446');
  height: 300px;
  background-position: bottom;
  display: flex;
/* flex-direction: row;
flex-wrap: wrap; */
flex-flow: column wrap;
justify-content:flex-start;
align-content: center;
align-items: baseline;
margin: 50px 20px 20px 20px;
}

.link-bar {
  background-color: black;
  align-self: flex-end;
  margin: 200px 45px 10px 20px;
  justify-content:flex-end;
  display: flex;
  border: 3px solid black;
  padding:8px;
  width: 90%;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }

  body {
    /* background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9RDl2Hcc_JC35zV1p1vYmDl08LRQXRD8nvQ&usqp=CAU') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
    color: black;
    font-size: 20px;
   
  }

  .searchInputs {
    margin-top: 105px;
    display: flex;
  }
  
  .search input {
    background-color: white;
    border: 0;
    border-radius: 2px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 18px;
    padding: 15px;
    height: 30px;
    width: 300px;
  }
  
  .searchIcon {
    height: 60px;
    width: 50px;
    background-color: white;
    display: grid;
    place-items: center;
  }
  
  input:focus {
    outline: none;
  }
  .searchIcon svg {
    font-size: 35px;
  }
  
  .dataResult {
    margin-top: 5px;
    width: 300px;
    height: 200px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
  }
  
  .dataResult::-webkit-scrollbar {
    display: none;
  }
  
  .dataResult .dataItem {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    color: black;
  }
  
  .dataItem p {
    margin-left: 10px;
  }
  a {
    text-decoration: none;
  }
  
  a:hover {
    background-color: lightgrey;
  }
  
  #clearBtn {
    cursor: pointer;
  } 




  
 



